<h1>Project Titan</h1>

<div class="top-section">
  <span class="material-symbols-outlined">
    menu_book<a href="/chapters">Home</a>
  </span>

  <span class="material-symbols-outlined">
    double_arrow<a href="chapter2">Next</a></span
  >
</div>

<div class="story">
  <h1>As of Sept 20 - this is still a draft</h1>
  <h1>Opening Chapter 1</h1>
  <div class="story-plot">
  <h2>Currently in 2205</h2>

  <p class="narration">
    Total 4 Mega stations in the world at the moment. You see all the planes
    flying around to celebrate the 155th anniversary after the world sank.
    Almost everyone has a happy face, except for the few old geezers who know
    how bad the catastrophe was back then in time because they had experienced
    it themselves.
  </p>

  <p class="narration">
    As celebrations were in full swing, we could see a group of 12-14 people
    starting to surround the Mega station from around.
  </p>

  <div class="dialogue">
    <p>
      <strong>Agent 1:</strong> Man, I wish I could take the time off to enjoy
      the view of celebrations.
    </p>
    <p>
      <strong>Agent 2:</strong> I feel you, but it is our responsibility to keep
      the insides safe from the deep sea dangers.
    </p>
    <p><strong>Agent 1:</strong> I know that, but still… nevermind.</p>
  </div>

  <p class="action">The view for the sector 33 camera feed gets cut off.</p>

  <div class="dialogue">
    <p>
      <strong>Agent 2:</strong> Betsy, look at this, the feed got cut off just
      now.
    </p>
    <p>
      <strong>Agent 1:</strong> What! Are you kidding? Those cameras are guarded
      by a bullet-proof shield, even your most talented Titan will have a hard
      time trying to break it, even if someone tries to break it by force, we
      would see them in the recorded feed. Check the previous feed before it was
      cut off.
    </p>
    <p>
      <strong>Agent 2:</strong> I was checking the same while you were nagging
      me, but I didn’t see anyone come near to the base from the below.
    </p>
    <p>
      <strong>Betsy:</strong> This sounds like trouble for us, Andre. Let's go
      out and check if we can see something through our Radeon Glasses.
    </p>
  </div>

  <p class="action">
    Betsy and Andre came out of the Guard Station, they were looking down at the
    exact spot, but they couldn’t see anything. Suddenly they feel a presence in
    front of them, and before they can even lift their head, their heads get
    chopped off.
  </p>

  <p class="action">
    As their heads hit the surface, you can see a person landing beside their
    dead bodies.
  </p>

  <div class="youtube-music">
    <h1>Enhance Your Reading Experience</h1>
    <p>Click the link below to play the background music for this scene.</p>
    <a href="https://youtu.be/E-LiWZBDdho?t=28" target="_blank"><i class="fa-brands fa-youtube fa-xl"></i> Play Music</a>
    <p style="font-size:0.8rem; margin-top:1rem;">FYI: This music is from YouTube and not made by me — the artist retains full rights.</p>
  </div>

  <div class="dialogue">
    <p>
      <strong>Person:</strong> Sector 33 secured, how’s things looking on your
      end?
    </p>
    <p>
      <strong>Team Member:</strong> Our team members are starting to head to the
      other sectors, we should start getting in about 5 mins, Captain Rogue.
    </p>
  </div>

  <h2>Intro for Rogue Sky</h2>

  <div class="chapter-poster">
    <img src="rogue.png" alt="Rogue Sky" />
  </div>

  <!-- <p class="narration">
    Rogue Sky, the most wanted criminal in the world, is a former special forces
    agent who turned rogue after a mission gone wrong. Known for his tactical
    genius and unparalleled combat skills, Rogue Sky has been orchestrating
    high-profile heists and sabotage operations against mega-corporations and
    governments alike. His motives are shrouded in mystery, but whispers of a
    personal vendetta and a desire to expose corruption run rampant. With a
    loyal team of operatives at his side, Rogue Sky remains elusive, always
    staying one step ahead of law enforcement and bounty hunters. His signature
    look includes a sleek, black tactical suit with a high-tech visor that
    enhances his vision and provides real-time data analysis during missions.
  </p> -->

  </div>

</div>
