<div class="greeting">
  <h1>Resources</h1>
  <h2>
    Interested in knowing all the technologies and materials used in the
    project?
  </h2>
  <p>You are in the right place!</p>
</div>

<div class="resources-list">
  <h2>Technologies Used</h2>
  <ul>
    <li>Angular - Frontend</li>
    <img
      src="https://imgs.search.brave.com/g9_kiY5dqYRdoGE5iYZ5cEKX6KaMRIPo2Y27Sv0bwp8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sb2dv/LnN2Z2Nkbi5jb20v/bC9hbmd1bGFyLWlj/b24uc3Zn"
      alt="Angular Logo"
      width="100"
    />
    <li>Bootstrap </li>
    <li>FontAwesome </li>
    <li>Google Fonts</li>
    <li>Netlify Hosting </li>
    <li>Visual Studio Code </li>
  </ul>
  <h2>Materials Used</h2>
  <ul>
    <li>
      <a href="https://shapes.framer.website/">Gradient Shapes</a>
    </li>
  </ul>
</div>
