<div class="resources-page">
  <div class="greeting">
    <h1>Resources</h1>
    <h2>
      Interested in knowing all the technologies and materials used in the
      project?
    </h2>
    <p>You are in the right place!</p>
  </div>

  <div class="resources-list">
    <section class="tech-section">
      <h2>Technologies Used</h2>
      <ul>
        <li>
          <span>Angular - Frontend</span>
          <img
            src="https://imgs.search.brave.com/g9_kiY5dqYRdoGE5iYZ5cEKX6KaMRIPo2Y27Sv0bwp8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sb2dv/LnN2Z2Nkbi5jb20v/bC9hbmd1bGFyLWlj/b24uc3Zn"
            alt="Angular Logo"
          />
        </li>
        <li>
          <span>TypeScript</span>
          <img src="https://www.vectorlogo.zone/logos/typescriptlang/typescriptlang-icon.svg" alt="TypeScript Logo" />
        </li>
        <li>
          <span>Bootstrap</span>
          <img
            src="https://imgs.search.brave.com/Y3O-PPlJSy4zlEtDOXPMucS5EY0ffFfV1Xyd1q-eu18/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVjdG9ybG9nby56/b25lL2xvZ29zL2dl/dGJvb3RzdHJhcC9n/ZXRib290c3RyYXAt/aWNvbi5zdmc"
            alt="Bootstrap Logo"
          />
        </li>
        <li>
          <span>Font Awesome</span>
          <img
            src="https://www.drupal.org/files/issues/2023-12-04/FontAwesome.png"
            alt="Font Awesome Logo"
          />
        </li>
        <li>
          <span>Canva - Designing</span>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQURXSVJcJLHRlQApPQ2jJBniDiuSsdos84MA&s" alt="Canva Logo" />
        </li>
        <li>
          <span>Google Fonts</span>
          <img src="https://cdn.worldvectorlogo.com/logos/google-fonts-2021-2.svg" alt="Google Fonts Logo" /> 
        </li>
        <li>
          <span>Netlify - Domain and Hosting</span>
          <img src="https://www.svgrepo.com/show/376339/netlify.svg" alt="Netlify Logo" />
        </li>
        <li>
          <span>ChatGPT - AI Assistance</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/ChatGPT-Logo.svg/1200px-ChatGPT-Logo.svg.png" alt="ChatGPT Logo" />
        </li>
        <li>
          <span>GitHub - Version Control</span>
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" />
        </li>
        <li>
          <span>Visual Studio Code</span>
          <img src="https://code.visualstudio.com/assets/favicon.ico" alt="Visual Studio Code Logo" />
        </li>
      </ul>
    </section>

    <section class="materials-section">
      <h2>Materials Used</h2>
      <ul>
        <li>
          <a href="https://shapes.framer.website/" target="_blank">
            Gradient Shapes
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
