<h1 id="heading">My Inspiration</h1>

<div class="container">
  <div class="image-block">
    <div class="image-wrapper">
      <img
        src="assets/op.jpg"
        alt="One Piece"
      />
      <div class="overlay">1</div>
    </div>
    <div class="description">
      <h3><strong>One Piece</strong></h3>
      <br />
      <p>
        One Piece is a long-running anime and manga series created by Eiichiro
        Oda, following the adventures of Monkey D. Luffy, a young pirate who
        dreams of becoming the Pirate King by finding the legendary treasure
        known as One Piece, left behind by the previous Pirate King, Gol D.
        Roger.
      </p>
    </div>
  </div>

  <div class="image-block">
    <div class="image-wrapper">
      <img src="assets/nano.png" alt="Nano Machine" />
      <div class="overlay">2</div>
    </div>
    <div class="description">
      <h3><strong>Nano Machine</strong><br /></h3>
      <p>
        Nano Machine is a manhwa that follows the story of Cheon Yeo-Woon, an
        orphan who is not fully accepted by his own people. After being held in
        disdain and having his life put in danger, Cheon Yeo-Woon receives an
        unexpected visit from his descendant from the future who injects a nano
        machine into his body, drastically changing his life after its
        activation.
      </p>
    </div>
  </div>

  <div class="image-block">
    <div class="image-wrapper">
      <img
        src="assets/att.jpg"
        alt="Attack on Titan"
      />
      <div class="overlay">3</div>
    </div>
    <div class="description">
      <h3><strong>Attack on Titan</strong><br /></h3>
      <p>
        Attack on Titan is an anime series that follows the story of humanity's
        struggle against giant humanoid creatures known as Titans. The series is
        set in a world where humanity lives behind three massive walls to
        protect themselves from these Titans, who are immune to almost all forms
        of attack except for a vulnerable spot at the nape of their necks.
      </p>
    </div>
  </div>
</div>

<div class="content">
  <h1>The Start</h1>
  <div class="section-container">
    <!-- Section 1: Image Right, Text Left -->
    <section class="content-section">
      <div class="image">
        <img src="assets/inspo-1.png" alt="Watching Image" />
      </div>
      <div class="text">
        <p>
          The three you see above are the best stories I have witnessed in my
          entire life, and I believe anybody who watches them would feel the
          same.
        </p>
        <p>
          I used to belittle my friends, saying that anime was for kids, joking
          about it, and never really even looking into it.
        </p>
        <p>
          One day, we bunked our class and were roaming around in our college
          when I saw my friend watching <strong>Attack on Titan</strong>. I was
          really intrigued after watching only 10 minutes of the episode.
        </p>
        <p>
          And that was only the start. I watched all three seasons of the show
          in 3 days and even went on to read the entire manga, following all the
          new chapters as they were released until the very end.
        </p>
      </div>
    </section>

    <!-- Section 2: Image Left, Text Right -->
    <section class="content-section reverse">
      <div class="image">
        <video autoplay loop muted src="assets/inspo-2.mp4" type="video/mp4"></video>
      </div>
      <div class="text">
        <p>
          I then started watching other popular anime as well, like
          <strong>Naruto</strong> and <strong>Demon Slayer</strong>. Around this
          time, I got into <strong>Manhwa</strong>, and that led me to
          <strong>Solo Leveling</strong> and <strong>Nano Machine</strong>.
        </p>
        <p>
          I waited a long time to watch <strong>One Piece</strong> because I am
          the type of person who doesn’t like to stop anything in the middle. In
          December 2024, I finally started watching
          <strong>One Piece</strong> and finished it. As you might have guessed,
          I finished the manga as well.
        </p>
        <p>
          After watching <strong>One Piece</strong>, I had a serious of
          adrenaline rush, and then I had all the manuscripts until then
          destroyed and restarted the whole story.
        </p>
        <p>
          The reason I started this story? One day, one of my friends encouraged
          me to explore new ways to keep myself occupied, and that was it.
        </p>
        <p>
          I started the initial manuscript in <strong>March 2023</strong> and
          began working on this website in <strong>September 2024</strong>.
          Hopefully, I want to publish this to the public in
          <strong>2025</strong> and be active on social media as part of my
          studio.
        </p>
      </div>
    </section>
  </div>
</div>
