<h1 id="disappear">Contact</h1>

<div class="contact-card">
  <div class="contact-content">
    <div class="card-header">
      <h1>Have some recommendations?<br> Need to reach me?</h1>
      <p>please feel free to contact us through the channels provided</p>
    </div>

    <div class="social-links">
      <a href="mailto:bloodartzstudioz@gmail.com" class="social-icon">
        <i class="fas fa-envelope fa-l"></i>
      </a>
      <a
        href="https://www.youtube.com/@BloodArtzStudioz"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-youtube fa-l"></i>
      </a>
      <a
        href="https://www.instagram.com/bloodart.s4s/"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-instagram fa-l"></i>
      </a>
    </div>
  </div>

  <div class="profile-image">
    <img
      src="assets/feedback.png"
      alt="feedback"
    />
  </div>
</div>

<div class="payment">
  <img src="assets/coffee.jpg" alt="feedback" />
  <div class="help-me">
    <h1>If you find value in my work and would like to contribute?</h1>
    <p>
      I would greatly appreciate any donations. Your support helps me continue
      to grow and improve.
    </p>
    <div class="donations-links">
      <a href="https://ko-fi.com/bas25" target="_blank" class="social-icon">
        <img src="assets/kofi.svg" alt="Ko-fi" />
      </a>
      <a href="https://paypal.com" target="_blank" class="social-icon">
        <img src="assets/paypal.png" alt="Ko-fi" />
      </a>
    </div>
  </div>
</div>
