<header>
    <h1>Project Titan</h1>
    <p>A Sci-Fi Light Novel Series by The Demon God</p>
  </header>

  <main>
    <h2>Chapters</h2>
    <ul class="chapter-list">
      <li><a href="titan/chapter1">Chapter 1: Awake from the Slumber</a></li>
      <!-- <li><a href="chapter-2.html">Chapter 2: The Protocol</a></li>
      <li><a href="chapter-3.html">Chapter 3: Shadows</a></li>
      <li><a href="chapter-4.html">Chapter 4: Broken Alliance</a></li> -->
      <!-- Add more chapters here -->
    </ul>
  </main>