<header>
  <h1>Project Titan</h1>
  <p>
    In the year 2205, humanity clings to survival inside four Mega Stations,
    floating fortresses built after the Earth was swallowed by the seas in a
    catastrophic flood.
  </p>
</header>

<div class="posting">
  <img src="assets/Un-poster.png" alt="Latest Poster">
</div>

<div class="chapters">
  <h2>Chapters</h2>
  <ul class="chapter-list">
    <li><a href="titan/chapter1">Chapter 1: Awake from the Slumber</a></li>
    <li><a href="chapter-2.html">Chapter 2: The Protocol</a></li>
    <li><a href="chapter-3.html">Chapter 3: Shadows</a></li>
    <li><a href="chapter-4.html">Chapter 4: Broken Alliance</a></li>
    <!-- Add more chapters here -->
  </ul>
</div>
