<div class="contact-card">
  
  <div class="contact-content">
    <div class="card-header">
      <h1><b>Have some recommendations?</b></h1>
      <p><i>You can reach me out at</i></p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="mailto:bloodartzstudioz@gmail.com">
          bloodartzstudioz&#64;gmail.com
        </a>
      </p>
    </div>
    
    <div class="social-links">
      <a href="https://instagram.com/yourusername" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://x.com/yourhandle" target="_blank" class="social-icon">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://www.youtube.com/yourchannel" target="_blank" class="social-icon">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>

  <div class="profile-image">
    <img src="assets/feedback.jpg" alt="feedback">
  </div>
</div>

<div class="payment">
  <img src="https://img.freepik.com/free-vector/coffee-cup-concept-illustration_114360-29981.jpg?t=st=1735224120~exp=1735227720~hmac=c6317149813b8e58e2ed906022dfb1ff7506a736bc3f875c4a65b9dd8db643fe&w=740" alt="Paypal">
  <div class="help-me">
    <h1>If you find value in my work and would like to contribute?</h1>
    <p>I would greatly appreciate any donations. Your support helps me continue to grow and improve.</p>
    <div class="donations-links">
      <a href="https://ko-fi.com/bas25" target="_blank" class="social-icon">
        <img src="assets/kofi.svg" alt="Ko-fi">
      </a>
      <a href="https://paypal.com" target="_blank" class="social-icon">
        <img src="assets/paypal.png" alt="Ko-fi">
      </a>
    </div>    
  </div>
</div>

