<div class="mobile-nav">
  <div class="bottom-nav">
    <!-- Logo -->
    <div class="navbar-left">
      <a href="/">
        <img src="home-no-bg.png" alt="Blood Artz Logo" class="logo" />
      </a>
    </div>

    <!-- Mobile Links -->
    <div class="mobile-links">
      <a href="/" class="material-symbols-outlined">home_app_logo</a>
      <a href="/chapters" class="material-symbols-outlined">book_4</a>
      <a href="/contact" class="material-symbols-outlined">contacts_product</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="custom-footer">
  <!-- Left SVG -->
  <div class="footer-section left">
    <svg
      class="footer-logo"
      viewBox="0 0 200 200"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_234_877)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M100 100H0V0H7.04252e-06C55.2285 4.82823e-06 100 44.7715 100 100ZM200 100V0C144.772 0 100 44.7715 100 100L200 100ZM100 200H0V100C55.2285 100 100 144.772 100 200ZM100 200H200V100C144.772 100 100 144.772 100 200Z"
          fill="url(#paint0_linear_234_877)"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_234_877"
          x1="100"
          y1="0"
          x2="100"
          y2="200"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#B8DBFC" />
          <stop offset="1" stop-color="#F8FBFE" />
        </linearGradient>
        <clipPath id="clip0_234_877">
          <rect width="200" height="200" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>

  <!-- Center Section -->
  <div class="footer-section center">
    <div class="social-icons">
      <a href="mailto:bloodartzstudioz@gmail.com" aria-label="Email">
        <i class="fas fa-envelope fa-xl"></i>
      </a>
      <a
        href="https://www.youtube.com/@BloodArtzStudioz"
        target="_blank"
        class="social-icon"
        aria-label="YouTube"
      >
        <i class="fab fa-youtube fa-xl"></i>
      </a>

      <a
        href="https://www.instagram.com/bloodart.s4s/"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram fa-xl"></i>
      </a>
    </div>
    <img src="home-no-bg.png" alt="Blood Artz Logo" class="footer-logo" />
    <p class="footer-text">DESIGNED BY TEJA © 2025</p>
  </div>

  <!-- Right SVG -->
  <div class="footer-section right">
    <svg
      class="footer-logo"
      viewBox="0 0 200 200"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_234_920)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 100L4.37114e-06 0L100 4.37114e-06C100 55.2285 55.2285 100 0 100ZM200 100C200 44.7716 155.228 1.88558e-05 100 4.37114e-06L100 100L6.5969e-06 100C1.76868e-06 155.228 44.7715 200 100 200H200L200 100ZM199.961 100L100 100L100 200C100 144.785 144.75 100.021 199.961 100Z"
          fill="url(#paint0_linear_234_920)"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_234_920"
          x1="157.5"
          y1="32"
          x2="44"
          y2="147.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.0509862" stop-color="#FFB6E1" />
          <stop offset="1" stop-color="#FBE3EA" />
        </linearGradient>
        <clipPath id="clip0_234_920">
          <rect width="200" height="200" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</footer>
