/* Navbar Styles
*
  a
    font-weight: bold
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 5px 30px
  background-color: white
  color: black

  .logo a
    background: #30CFD0
    background-clip: text
    color: transparent
    font-family: "Inter", serif
    font-size: 2.7vw

  .nav-links
    display: flex
    gap: 20px
    a
      font-size: 20px
      transition: color 0.3s ease
      &:hover
        color: #EE4B2B

