nav
  display: flex
  justify-content: space-around
  align-items: center
  margin: 4px 10px
  .logo 
    display: flex 
    align-items: center 
    gap: 10px 
    text-decoration: none 
    .logo-img 
      width: 40px 
      height: auto 
    .logo-text 
      font-size: 24px 
      font-weight: bold 
      color: #FF8C00 
    a
      img
        height: 4vw
  .nav-links
    width: 45%
    display: flex
    justify-content: space-around
    align-items: center
    a
      font-size: 18px
      font-weight: bolder
      color: #C84C05
      padding: 6px 20px
      background-color: white
      border-radius: 5px
    a:hover
      color: black
      background-color: #DF6D2D
   
  
.mobile-nav
  display: none

.custom-footer
  display: flex
  justify-content: space-around
  align-items: center
  background-color: #2f3741
  padding: 20px
  color: white
  flex-wrap: wrap
  gap: 15px

  .footer-section
    display: flex
    align-items: center

  .center
    flex-direction: column
    text-align: center

  .footer-logo
    width: 8vw
    height: auto

  .social-icons
    display: flex
    gap: 15px
    font-size: clamp(24px, 2vw, 36px)
    margin-bottom: 5px
    a
      color: white
      transition: color 0.3s ease
      &:hover
        color: #00e5ff
  .footer-text
    font-weight: bold
    font-size: clamp(12px, 1.5vw, 16px)
    color: white
    margin: 0


@media screen and (max-width: 768px)
  nav
    display: none
  .mobile-nav
    padding: 5px 0 10px 15px
    display: flex
    justify-content: space-between
    align-items: center
    .logo 
      width: 40%
      a
        img
          height: 9vw
    .mobile-links
      width: 20%
      .btn 
        background: white
        color: black
      .offcanvas
        background: black

        .offcanvas-header
          a
            img
              height: 9vw
        .offcanvas-body
          a
            text-align: left
            font-size: 18px
            color: white
    .custom-footer
      flex-direction: column
      text-align: center
      .footer-logo
        width: 25vw
      .footer-section
        justify-content: center
