*
  font-weight: bold

.welcome-video
  width: 100%
  margin: auto
  video
    width: 80%
    margin: auto
    border-radius: 5px

.taggy
  h1
    margin: 15px
  a
    font-size: 2.5vw
    padding: 5px 15px
    border-radius: 5px
    background-color: #DDFFE7
    color: #167D7F

.thanks
  h1
    margin: 10px
