*
  font-family: "Inter", serif
  margin: 0
  boz-sizing: border-box
  text-align: center
  list-style: none
  color: white

a
  text-decoration: none
  font-weight: bold

body
  background-color: #010100
