<img class="project-logo" src="title-logo.png" alt="Project Titan Logo" />

<div class="top-section">
  <div class="nav-btn">
    <span class="material-symbols-outlined"> auto_stories </span>
    <a href="/chapter3">Back</a>
  </div>

  <div class="dropdown custom-dropdown">
    <button
      class="btn dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Chapters
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/chapter1">Chapter 1</a></li>
      <li><a class="dropdown-item" href="/chapter2">Chapter 2</a></li>
      <li><a class="dropdown-item" href="/chapter3">Chapter 3</a></li>
    </ul>
  </div>

  <div class="nav-btn">
  <span class="material-symbols-outlined ">
    double_arrow
  </span>
  <a href="/chapter5">Next</a>
  </div>
</div>

<h1>Chapter 4</h1>