*
  p
    font-weight: bold
    font-family: "Inter", serif

.welcome-video
  width: 100%
  height: auto
  margin: auto
  video
    width: 100%
    margin: 0 auto 30px
    border-radius: 15px

.thanks
  font-size: 3rem
  font-weight: bold
  background: linear-gradient(135deg, #92ffc0, #f4d03f)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  color: transparent
  h1
    margin: 20px 0 10px
    font-family: 'Kizard', sans-serif

.intro-section
  background-color: #0A1A23
  color: #75E6DA
  border-radius: 10px
  padding: 30px 20px
  width: 80%
  height: auto
  margin: auto
  box-shadow: 0 0 10px 1px #75E6DA
  h1
    font-family: 'Kizard', sans-serif
    text-align: center
    margin: 20px 0
  .intro-card
    display: flex
    justify-content: center
    flex-direction: row-reverse
    align-items: center
    margin: 20px auto
    .intro-text
      width: 40%
      padding: 10px
      p
        color: #c9faff
      .intro-button
        margin: 20px auto
        a
          background: #c9faff
          color: #0d224b
          padding: 10px 20px
          font-size: 1.2rem
          font-family: 'Kizard', sans-serif
          border: 2px solid #e3fdf9
          border-radius: 8px
          &:hover
            background: #fdffd4
            color: #073737
            border: 2px solid #fdffd4
    .latest-poster
      width: 40%
      height: auto
      border-radius: 10px
      img
        width: 100%
        height: 50vh
        border-radius: 10px
        object-fit: contain
        


.author-quote
  text-align: center
  width: 80%
  margin: 40px auto
  font-style: italic
  padding: 10px 

.author-insta
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 10px 0
  background: linear-gradient(125deg, #ff512f, #dd2476)
  padding: 10px 20px
  border: 2px solid #dd2476
  border-radius: 8px
  img
    width: 30px
    height: 30px
    margin-right: 10px
  a
    color: #fff
    text-decoration: none
    font-size: 1.2rem

.author-card
  display: flex
  align-items: center
  flex-direction: column
  color: #ffcc33
  padding: 30px
  width: 80%
  margin: 30px auto 15px
  height: auto
  border-radius: 10px
  h2
    font-family: 'Kizard', sans-serif
  .author-details
    width: 50%
    padding: 10px
    p
      color: #ff0505
      font-size: 16px
    a
      background: transparent
      color: #00FFFF
      text-decoration: none
      font-size: 1.2rem
      transition: color 0.3s
      &:hover
        color: #FFD700
  .image-container
    border-radius: 10px
    img
      width: 100%
      height: 50vh
      border-radius: 10px
      object-fit: contain
      margin: 0


.author-inspo
  a
    background: linear-gradient(90deg, #f5f523, #fa840e)
    color: black
    text-decoration: none
    padding: 10px 20px
    border-radius: 10px
    font-size: 1.2rem
    &:hover
      background: white
      color: black

/* Media Queries for Responsiveness
@media (max-width: 768px)
  .welcome-video
    width: 100%
    video
      width: 100%
      height: auto
      margin: 0 auto 10px
  .intro-section
    padding: 20px 10px
    h1
      font-size: 1.5rem
      padding: 10px
      margin: 0 auto
    .intro-card
      flex-direction: column-reverse
      justify-content: space-evenly
      .intro-text
        width: 100%
        p
          font-size: 1rem
      .latest-poster
        width: 90%

  .author-card
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10px
    margin: 15px auto 0
    img
      width: 90%
      height: 38vh
      margin-left: 15px
      padding: 0
    .author-details
      width: 100%
      padding: 10px
      h2
        font-size: 1.5rem
        margin: 10px auto
        text-align: center
      p
        font-size: 1rem
        margin: 0

    .author-insta
      width: 70%
      padding: 7px 10px
      img
        width: 15px
        height: 15px
      a
        font-size: .8rem

    .author-inspo
      margin: 10px auto
      a
        font-size: 1rem
        padding: 7px 10px

    .author-quote
      font-size: 1rem
      margin: 10px auto 20px

  .cta-section
    width: 90%
    margin: 10px auto
    padding: 20px 15px
    h1
      font-size: 18px
    p
      font-size: 1rem
      margin: 0 0 15px
    a
      font-size: 0.9rem
      padding: 10px 20px
