<h1 id="disappear">Hey there!</h1>

<div class="welcome-video">
  <video autoplay loop muted src="assets/bg-video.mp4" type="video/mp4"></video>
</div>

<section class="intro-section" aria-labelledby="intro-title">
  <h1>Ready for some Blood &amp; Action?</h1>
  <div class="intro-card">
    <div class="intro-text">
      <p class="lead">
        Dive into Project Titan — every chapter is handcrafted with atmosphere
        and edge.
      </p>

      <div class="intro-button">
        <a href="/titan" aria-label="Start reading Project Titan">
          Start Reading
        </a>
      </div>
    </div>

    <div class="image-container">
      <img src="assets/Un-poster.png" type="png" alt="poster-image" />
    </div>
  </div>
</section>

<div class="author-card">
  <h2>Story written by</h2>
  <h2>&lt; The Demon God &gt;</h2>
  <div class="image-container">
    <img src="assets/teja.png" type="png" alt="author-image" />
  </div>

  <div class="author-details">
    <p>
      My writing style is realistic, dark, and centered on science fiction,<br />
      bringing vivid, immersive, and sometimes unsettling worlds to life.
    </p>
  </div>
  <a href="/inspo">My Inspiration</a>
</div>

<p class="author-quote">
  "Inspiration exists, but it has to find you working." - Pablo Picasso
</p>

<div class="thanks">
  <h1>Thanks for stopping by!</h1>
</div>

<!-- <div class="bookmark">
  <p>Liking what you see? Save it for later</p>
  <button class="bookmark-btn" (click)="showBookmarkMessage()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-bookmark-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"
      />
    </svg>
    <b>Bookmark This Page</b>
  </button>
</div> -->
