<h1 id="disappear">Hey there!</h1>

<div class="welcome-video">
  <video autoplay loop muted src="bg-video.mp4" type="video/mp4"></video>
</div>

<section class="intro-section" aria-labelledby="intro-title">
  <div class="intro-card">
    <div class="intro-text">
      <h1>Ready for some Blood &amp; Action?</h1>
      <p class="lead">
        It’s not just a story — it’s an experience.
        Dive into Project Titan and let the adventure consume you.
      </p>
      <p class="lead">Are you ready to step into the storm?</p>

      <div class="intro-button">
        <a href="/chapters" aria-label="Start reading Project Titan">
          Spark the fire <i class="fa-solid fa-fire-flame-curved"></i>
        </a>
      </div>
    </div>

    <div class="latest-poster">
      <img src="Un-poster.png" type="png" alt="poster-image" />
    </div>
  </div>
</section>

<section class="author-bio">
  <div class="bio-container">
    <div class="bio-image">
      <img src="teja.png" alt="Author Photo" />
    </div>
    <div class="bio-content">
      <h2>About the Author</h2>
      <div class="author-insta">
        <img src="insta-logo.png" type="png" alt="instagram-logo" />
        <a
          href="https://www.instagram.com/the.demon_god/"
          target="_blank"
          aria-label="Instagram"
        >
          &lt; The Demon God &gt;
        </a>
      </div>
      <p> 
        a storyteller who weaves
        science fiction and dark realism into immersive worlds, realistic - often
        blending futuristic elements with raw human emotions.
      </p>
      <p>Every story starts with a spark—here’s mine.</p>
      <a href="/inspo" class="bio-btn">My Inspiration</a>
    </div>
  </div>
</section>

<p class="author-quote">
  "Inspiration exists, but it has to find you working." - Pablo Picasso
</p>

<div class="thanks">
  <h1>Thanks for stopping by!</h1>
</div>

<!-- <div class="bookmark">
  <p>Liking what you see? Save it for later</p>
  <button class="bookmark-btn" (click)="showBookmarkMessage()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-bookmark-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"
      />
    </svg>
    <b>Bookmark This Page</b>
  </button>
</div> -->
